/* Base styles for mobile-first design */
body {
    font-size: 16px; /* Base font size */
}

header, footer {
    padding: 10px 0; /* Adjust padding for mobile */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    header {
        font-size: 1.2rem; /* Smaller header font size */
        padding: 10px 5px; /* Adjust padding */
    }

    #heroSection {
        position: relative;
        overflow: hidden; /* Ensure no overflow */
    }

    .hero-image {
        width: 100%; /* Full width */
        height: auto; /* Maintain aspect ratio */
    }

    .data-overlay, .weather-overlay {
        position: relative;
        width: calc(100% - 40px); /* Adjust width for mobile */
        left: 20px; /* Center alignment */
        right: 20px; /* Center alignment */
        padding: 10px; /* Reduced padding */
        font-size: 0.9rem; /* Smaller font size */
    }

    .data-overlay{
        margin-bottom: 50px;

    }

   
}
