:root {
    --primary-color: #35424a;
    --background-color: #f4f4f4;
    --text-color: white;
    --overlay-bg: rgba(255, 255, 255, 0.8);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    text-align: center;
}

header {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 15px 0;
}

#heroSection {
    position: relative; 
}

.hero-image {
    width: 100%;
    height: auto;
}

.data-overlay {
    position: absolute;
    top: 20px; 
    left: 20px;
    background: var(--overlay-bg);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    z-index: 10; 
}

.weather-overlay {
    position: absolute; 
    bottom: 20px; 
    right: 20px;
    background: var(--overlay-bg);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    z-index: 10; 
}


.weather-icon {
    font-size: 36px; /* Adjust the size of the icon */
    margin-right: 10px; /* Space between icon and text */
}

footer {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 10px 0;
}


