body {
    font-size: 16px; 
}

header, footer {
    padding: 10px 0; 
}

@media (max-width: 768px) {
    header {
        font-size: 1.2rem; 
        padding: 10px 5px; 
    }

    #heroSection {
        position: relative;
        overflow: hidden; 
    }

    .hero-image {
        width: 100%; 
        height: auto; 
    }

    .data-overlay, .weather-overlay {
        position: relative;
        width: calc(100% - 40px); 
        left: 20px; 
        right: 20px; 
        padding: 5px; 
        font-size: 0.9rem; 
    }

    .data-overlay{
        margin-bottom: 50px;

    }

}
