:root {
    --primary-color: #35424a;
    --background-color: #f4f4f4;
    --text-color: white;
    --overlay-bg: rgba(255, 255, 255, 0.8);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    text-align: center;
}

header {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 15px 0;
}

#heroSection {
    position: relative; /* Needed for absolute positioning of overlays */
}

.hero-image {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
}

.data-overlay {
    position: absolute;
    top: 20px; /* Top left corner */
    left: 20px;
    background: var(--overlay-bg);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    z-index: 10; /* Ensures it stays above the image */
}

.weather-overlay {
    position: absolute; /* Ensure it's absolutely positioned */
    bottom: 20px; /* Bottom right corner */
    right: 20px;
    background: var(--overlay-bg);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    z-index: 10; /* Ensures it stays above the image */
}

footer {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 10px 0;
}


