* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f9f9f9; 
    color: white; 
}

header {
    background: #053d2d; 
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Merriweather', serif; 
    font-size: 2.5em;
}

nav {
    background-color: #f9fdff; 
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
    text-align: center; 
    padding: 0;
}

nav a {
    display: block;
    color: #111010;
    text-align: center; 
    padding: 1rem; 
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s; 
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: yellow;
}

.active {
    color: yellow; 
}

main {
    margin: 20px auto; 
    
    display: grid; 
    gap: 20px;
}

.grid-container {
    display: grid; 
    width: 100%;
    gap: 20px; 
}

figure {
    margin: 0; 
}

figure img {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    border-radius: 8px; 
}

figcaption {
    text-align: center;
    margin-top: 5px;
    font-weight: 400; 
    color: #666; 
}

footer {
    background-color: #053d2d;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #fffdfd;
    padding: 1rem;
}

h2 {
    color: #111010;
    text-align: center;
}

@media (max-width: 639px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
}
